.table__head-column {
    width: 7rem;
    font-weight: 500;
    background-color: var(--table-head-color);
    color: var(--white-color);

    @include responsive(phone) {
        display: block;
    }
}

@include responsive(phone) {
    .table__head {
        display: block;

        & .table__row {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
    }
}