.table__table-head {
    width: 7rem;
    background-color: var(--table-head-color);
    color: var(--white-color);
    font-weight: 500;
    font-size: var(--table-font-size);
    letter-spacing: 0.5px;
    text-align: left;
    padding: 1.5rem 0 1.5rem 1rem;
}