:root {
  --primary-color:                    #5B86E5;
  --white-color:                      #fff;
  --black-color:                      #333;

  --table-head-color:                 rgba(255, 255, 255, 0.4);
  --table-hover-color:                rgba(255, 255, 255, 0.2);
  --table-button-color:               #55DAF2;
  --table-button-side-color:          #429CDB;
  --table-button-shadow:              rgba(0, 0, 0, 0.29);
  --table-checked-color:              #36D1DC;

  --star-color:                       #FFD700;

  --modal-border-bottom-color:        #999;

  --dropdown-background-color:        #f9f9f9;
  --dropdown-shadow-color:            rgba(0,0,0,0.2);

  --default-font-family:              'Lato', sans-serif;

  --heading-font-size:                6rem;
  --table-font-size:                  1.2rem;
}