@import "table-head/table-head.styles";
@import "table-body/table-body.styles";

.table {
  @include responsive(phone) {
    display: block;
  }

  @include responsive(phone) {
    border: none;
  }

  &__row:hover {
    background-color: var(--table-hover-color);

    @include responsive(phone) {
      background-color: var(--primary-color);
    }
  }
}