*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--default-font-family);
  background-color:var(--primary-color);
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}