.heading-primary {
  font-weight: 500;
  font-size: var(--heading-font-size);
  text-align: center;
}

.heading-secondary {
  color: var(--primary-color);
  text-align: left;
  font-size: 2.2rem;
  font-weight: 400;
}

.heading-tertiary {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 300;
  text-align: left;
}

.heading-subtitle {
  color: #777;
}

.paragraph {
  text-align: center;
  color: var(--white-color);
  font-size: var(--table-font-size);
  margin: 0 0 3rem 0;
  letter-spacing: 1px;
}